
.footer {
	background-color: #333;
	overflow: hidden;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 2vh;
}

.socialMediaRow {
	width:15vw;
	margin-top: 2vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}

.footer a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.footer p {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.footer img {
	width: 2vw;
}

.footer img:hover {
	cursor: pointer;
}

.footer a:hover {
	background-color: #ddd;
	color: black;
}

@media screen and (max-width: 600px) {
	.socialMediaRow {
		width:35vw;
	}

	.footer img {
		width: 5vw;
	}
}