<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="header" id="header" >
	<a id="headerHome" href="../index.html">Accueil</a>
	<a id="headerEnSavoirPlus" href="../enSavoirPlus.html">en savoir plus</a>
	<a id="headerAVousDeJouer" href="../aVousDeJouer.html">à vous de jouer</a>
	<a href="javascript:void(0);" class="icon" onclick="expend()">
		<i class="fa fa-bars"></i>
	</a>
	<img alt="logo" src="../logo-adoptLife.png" >
</div>

<link rel="stylesheet" type="text/css"  href="../components/header.css">